<%- include("header") -%>
<!--  above code pushes the code written inside header.ejs to about  -->
<h2>About Me</h2>
<p>
  I am Shashwat Shivhare , currently studying Electronics Engineering from IET
  DAVV, Indore.
</p>
<%- include("footer") -%>
