* {
  background-color: black;
}
.words {
  font-family: "Libre Baskerville", serif;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
img {
  border: 5px solid white;
  margin-top: 50px;
  width: 100%;
}
